In [1]:
a=50

In [2]:
b=45

In [3]:
c=a+b

In [4]:
c

95

In [5]:
print('sum',c)

sum 95

In [6]:
s=a*a

In [7]:
s

2500

In [8]:
i =1
while i<=10:
    i=i+1
    print('Python')

Python
Python
Python
Python
Python
Python
Python
Python
Python
Python

In [9]:
i=10
while i<=10:
    i=i+1
    print(i)

11

In [10]:
#Variables
'''Variables are containers for storing data values.'''

#Creating Variables
'''Python has no command for declaring a variable.
A variable is created the moment you first assign a value to it.'''

#Example

x = 5
y = "Rahul"
print(x)
print(y)

5
Rahul

In [11]:
#Example_1

x = 4       # x is of type int
x = "Rahul" # x is now of type str
print(x)

Rahul

In [12]:
#Casting
'''Casting is nothing but to specify the data type of a variable, this can be done with casting.'''

A = str('WELCOME')
B = int(10)
C = float(1.5)
print(A,B,C)

WELCOME 10 1.5

In [13]:
#Type
'''You can get the data type of a variable with the type() function.'''

A = 10
B = 'Python'
C = 5.5
print(type(A))
print(type(B))
print(type(C))

<class 'int'>
<class 'str'>
<class 'float'>

In [14]:
#Single or Double Quotes?
'''String variables can be declared either by using single or double quotes:'''

A = "Python"
B = 'Python'
print(A)
print(B)

Python
Python

In [15]:
#Case-Sensitive
'''Variable names are case-sensitive.'''

a = 4
A = "Rahul"
print(a)
print(A)
#A will not overwrite a

4
Rahul

In [16]:
#Variable Names
'''A variable name must start with a letter or the underscore character
   A variable name cannot start with a number
   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
   Variable names are case-sensitive (age, Age and AGE are three different variables)'''

myvar = "Anand"
my_var = "Abhishek"
_my_var = "Awadhesh"
myVar = "Ashu"
MYVAR = "Ankur"
myvar1 = "Ankit"
myvar2 = "Anurag"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar1)
print(myvar2)

Anand
Abhishek
Awadhesh
Ashu
Ankur
Ankit
Anurag

In [17]:
#Many Values to Multiple Variables
'''Python allows you to assign values to multiple variables in one line:'''

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [18]:
#One Value to Multiple Variables
'''And you can assign the same value to multiple variables in one line:'''

x = y = z = "Welcome"
print(x)
print(y)
print(z)

Welcome
Welcome
Welcome

In [31]:
pytuple = dict([(1,'hello'),(2,'world')])
print(type(pytuple))
print(pytuple)

<class 'dict'>
{1: 'hello', 2: 'world'}

In [32]:
pydict={1:1.50,2:2.0,3:3.50,4:4.50}
print(type(pydict))
print(pydict)

<class 'dict'>
{1: 1.5, 2: 2.0, 3: 3.5, 4: 4.5}

In [33]:
keys=['a','e','i','o','u']
print(keys)
vowels=dict.fromkeys(keys)
print(vowels)
value='vowels'
vowels=dict.fromkeys(keys,value)
print(vowels)

['a', 'e', 'i', 'o', 'u']
{'a': None, 'e': None, 'i': None, 'o': None, 'u': None}
{'a': 'vowels', 'e': 'vowels', 'i': 'vowels', 'o': 'vowels', 'u': 'vowels'}

In [34]:
pydict0 = {1:'Big Data',2:'Data Structure',3:'python',4:'spark',5:'django'} 
print(type(pydict0))
print(pydict0.get(4))
print(pydict0.get(2))
print(pydict0.get(5))
print(pydict0.items())

<class 'dict'>
spark
Data Structure
django
dict_items([(1, 'Big Data'), (2, 'Data Structure'), (3, 'python'), (4, 'spark'), (5, 'django')])

In [35]:
pydict1 = {1:'AI',2:'ML',3:'DL',4:'DS'}
pydict1.update(pydict0)
print(pydict1)
print(pydict0.keys())
print(pydict0.values())

{1: 'Big Data', 2: 'Data Structure', 3: 'python', 4: 'spark', 5: 'django'}
dict_keys([1, 2, 3, 4, 5])
dict_values(['Big Data', 'Data Structure', 'python', 'spark', 'django'])

In [36]:
PyDict = {"Name":'Ashu',"ID":123,"Add":'HYD'}
PyDict1 = {"Name":'Ashu',"ID":123,"Add":'HYD'}
print(PyDict)
PyDict.pop("Add")
print(PyDict)
PyDict.pop("ID")
print(PyDict)
PyDict.pop("Name")
print(PyDict)
PyDict1.popitem()
print(PyDict1)

{'Name': 'Ashu', 'ID': 123, 'Add': 'HYD'}
{'Name': 'Ashu', 'ID': 123}
{'Name': 'Ashu'}
{}
{'Name': 'Ashu', 'ID': 123}

In [37]:
def Add_Sub(a,b):
    Add = a+b
    Sub = a-b
    return(Add,Sub)
A,B = Add_Sub(20,40)
print("The sum is: ",A)
print("The Sub is: ",B)

The sum is:  60
The Sub is:  -20

In [38]:
def AddSubMulDiv(a,b):
    Add = a+b
    Sub = a-b
    Mul = a*b
    Div = a/b
    return(Add,Sub,Mul,Div)
A,B,C,D = AddSubMulDiv(54,3223)
print("The sum is: ",A)
print("The Sub is: ",B)
print("The Mul is: ",C)
print("The Div is: ",D)

The sum is:  3277
The Sub is:  -3169
The Mul is:  174042
The Div is:  0.016754576481538937

In [39]:
#Positional Argument:- Argument passed should match the function parameter from left to right
    
def Pos_Arg(a,b,c):
    print(a,b,c)
    print(b,c)
    print(c)
    return()
Pos_Arg(1,2,3)
print("***************")
Pos_Arg("AI","ML","DL")
print("***************")
Pos_Arg(1.11,2.22,3.33)
print("***************")
Pos_Arg(1,"Hello",3)

1 2 3
2 3
3
***************
AI ML DL
ML DL
DL
***************
1.11 2.22 3.33
2.22 3.33
3.33
***************
1 Hello 3
Hello 3
3

()

In [40]:
####Keyword Argument:- we can call a function by specifying the keyword argument in 
###the form argument name=value 

def keyword(a,b,c,d):
    print(a,b,c,d)
    print(b,c,d)
    print(c,d)
    print(d)
    return()
    
keyword(a=10,b=20,c=30,d=40)
keyword(a="Ashu",b="Jay",c="Abhishek",d="Rahul")
keyword(1,b=12,c=23,d=45)
keyword(1,12,23,45)

10 20 30 40
20 30 40
30 40
40
Ashu Jay Abhishek Rahul
Jay Abhishek Rahul
Abhishek Rahul
Rahul
1 12 23 45
12 23 45
23 45
45
1 12 23 45
12 23 45
23 45
45

()

In [41]:
#Default Keyword:- A default value can be written in the format "argument=value" 
#therefor we will have the option to declare or not declare a value for those argument

def DefaultArg(a=100,b=200,c=300):
    print(a,b,c)
    print(b,c)
    print(c)
    return()
DefaultArg()
DefaultArg(1)
DefaultArg(1,2)
DefaultArg(1,2,3)

100 200 300
200 300
300
1 200 300
200 300
300
1 2 300
2 300
300
1 2 3
2 3
3

()

In [44]:
#Variable Length Argument:-  
def Random_Var(*X):
    for n in X:
        print(n)
        return()
Random_Var()
Random_Var(1)
Random_Var(1,2,3,4,5)

1
1
21 54 65
65 54 89
45 32 90

In [46]:
def score(BigData, Hadoop=54, Spark=65):
    print(BigData,Hadoop,Spark)
score(21)
score(65,Spark=89)
score(BigData=45,Hadoop=32,Spark=90)

21 54 65
65 54 89
45 32 90

In [47]:
#Local Variable:-they can be accessed within function

def Local_Var():
    a=10;b=79 #local variable 
    print(a+b)
    return()
Local_Var()

89

()

In [48]:
#Global Variable:- Global variable can be accessed out side the function

x=55; z=789 # Global Variable
def Global_Var():
    print(x+z)
    return()
def Global_Var1():
    print(x-z)
    return()
def local_var():
    x=3
    print(x+z)
    return()
        
Global_Var()
Global_Var1()
local_var()

844
-734
792

()

In [49]:
total = 100;
def Sum(arg1,arg2):
    total = arg1+arg2
    print("inside the function local total is: ",total)
    return(total)
Sum(10,55)
print("outside the function global total is: ",total)

inside the function local total is:  65
outside the function global total is:  100

In [52]:
def scope_variable_one():
    global a,b
    a=222;b=4532
    print(a+b)
    return()
def scope_variable_two():
    global a,b
    a=222;b=4532
    print(a+b)
    return()

In [55]:
def Banking(Name):
    print("Welcome to Banking",Name)
    return()
insurance = Banking
print(id(Banking))
print(id(insurance))
insurance('LIC')
Banking("SBI")
del Banking
insurance("LIC Insure")

2546635580040
2546635580040
Welcome to Banking LIC
Welcome to Banking SBI
Welcome to Banking LIC Insure

()

In [57]:
def Outerfunction():
    print("Welcome to outer function")
    print("Thank u")
    def Innerfunction():
        print("Welcome to inner function")
        print("thank you")
    Innerfunction()
    Innerfunction()    
Outerfunction()
Outerfunction()

Welcome to outer function
Thank u
Welcome to inner function
thank you
Welcome to inner function
thank you
Welcome to outer function
Thank u
Welcome to inner function
thank you
Welcome to inner function
thank you

In [58]:
def outer_fun():
    x = 200
    y = 300
    print("The result is: ",x/y)
    print("Good One")
    def inner_fun():
        nonlocal x
        x =110
        print("The result is: ",x/y)
        print("thank you")
    inner_fun()
outer_fun()

The result is:  0.6666666666666666
Good One
The result is:  0.36666666666666664
thank you

In [59]:
def One_Function(n):
    if n == 1:
        return 1
    else:
        return n*One_Function(n-1)
print(One_Function(4))

24

In [60]:
def counter(c):
    if c<=0:
        return c
    else:
        return c+counter(c-1)
print(counter(6))

21

In [61]:
def ONEFUN(*args):
    Pylist=[]
    for i in args:
        Pylist.append(i*2)
    return Pylist
input_num = [1,2,3,4,5]
print(ONEFUN(*input_num))

[2, 4, 6, 8, 10]

In [62]:
n = lambda X:X**2;print(n(2))
print("@@@@@")

4
@@@@@

In [63]:
Max = lambda x,y:x if x>y else y
print(max(3,4))

4

In [67]:
Min = lambda x,y:x if x<y else y
print(Min(4,3))

3

In [65]:
product = lambda x,y : x*y
print(product(2,4))

8

In [68]:
Def = lambda x,y:x-y 
print(Def(43,65))

def Def(a,s):
    c = (a-s)
    print(c)
    return c
Def(43,12)

-22
31

31

In [66]:
Max = lambda x,y:x if x>y else y
print(max(3,4))

def MAXVAL(a,b):
    if a>b:
        return a
    else:
        return b
print(MAXVAL(68,79))

4
79

In [69]:
Def = lambda x,y:x+y
print(Def(43,12))

55

In [70]:
Oldlist = [1,2,3,4,5,6]
Newlist = list(map(lambda x:x**2,Oldlist))
print(Newlist)

[1, 4, 9, 16, 25, 36]

In [71]:
Oldlist = [1,2,3,4,5,6]
Newlist = list(filter(lambda x:x<5,Oldlist))
print(Newlist)

[1, 2, 3, 4]

In [72]:
import functools
N = [1,2,3,4,5,6,7,8,9]
print(functools.reduce(lambda x,y:x+y,N))
print(functools.reduce(lambda x,y:x-y,N))

45
-43

In [19]:
#Output Variables
'''The Python print statement is often used to output variables.
   To combine both text and a variable, Python uses the + character:'''

x = "with jupyter notebook"
print("Start Python " + x)

Start Python with jupyter notebook

In [20]:
'''You can also use the + character to add a variable to another variable:'''

A = "Start python "
B = "with jupyter notebook"
C = A + B
print(C)

Start python with jupyter notebook

In [21]:
num = int(input("Enter Any Number: "))

for i in range(0,num):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

Enter Any Number: 5
*
* *
* * *
* * * *
* * * * *

In [23]:
num = int(input("Enter Any Number: "))

for i in range(0,num):
    for j in range(0,num-i):
        print("*",end=" ")
    print()

Enter Any Number: 5
* * * * *
* * * *
* * *
* *
*

In [24]:
num = int(input("Enter Any Number: "))

for i in range(0,num):
    for j in range(0,num-i-1):
        print(end="#")
    for j in range(0,i+1):
        print("*",end=" ")
        
    print()

Enter Any Number: 5
####*
###* *
##* * *
#* * * *
* * * * *

In [25]:
num = int(input("Enter Any Number: "))
for i in range(1,num+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

Enter Any Number: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [26]:
num = int(input("Enter Any Number: "))
for i in range(1,num+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

Enter Any Number: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [27]:
## Floyd's Traingle    
num = int(input("Enter the number: "))
a = 1
for i in range(1,num+1):
    for j in range(1,i+1):
        print(a,end=" ")
        a = a+1
    print()

Enter the number: 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [28]:
    
string = input("Enter the string : ")
length = len(string)

for i in range(length):
    for j in range(i+1):
        print(string[i],end=" ")
    print()

Enter the string : ashu
a
s s
h h h
u u u u

In [28]:
string = input("Enter the string : ")
length = len(string)

for i in range(length):
    for j in range(i+1):
        print(string[j],end=" ")
    print()

Enter the string : mishra
m
m i
m i s
m i s h
m i s h r
m i s h r a

In [74]:
num = int(input("Enter Any Number: "))
a = 1
for i in range(1,num+1):
    for j in range(1,i+1):
        print(a,end=" ")
        a = a+1
    print()

Enter Any Number: 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [84]:
num = int(input("Enter Any Number: "))
for i in range(0,num):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

Enter Any Number: 5
*
* *
* * *
* * * *
* * * * *

In [85]:
#num = int(input("Enter Any Number: "))
for i in range(0,num):
    for j in range(0,num-i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [86]:
num = int(input("Enter Any Number: "))

for i in range(0,num):
    for j in range(0,num-i-1):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
        
    print()

Enter Any Number: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [87]:
num = int(input("Enter Any Number: "))
for i in range(1,num+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

Enter Any Number: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [88]:

num = int(input("Enter Any Number: "))
for i in range(1,num+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

Enter Any Number: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [90]:
n = int(input("enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(64+j),end=" ")
    print()

enter the number of rows: 5
A
A B
A B C
A B C D
A B C D E

In [91]:
n = int(input("enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(64+i),end=" ")
    print()

enter the number of rows: 5
A
B B
C C C
D D D D
E E E E E

In [92]:
n = int(input("Enter the number of rows: "))
for i in range(0,n):
    print("*"*n)

Enter the number of rows: 5
*****
*****
*****
*****
*****

In [93]:
n = int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(i,end=" ")
    print()

Enter the number of rows: 5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [94]:
n = int(input("Enter the number of rows: "))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(j,end=" ")
    print()

Enter the number of rows: 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [29]:
# How to take input from user and make matrix


a = int(input("Enter Number of rows: "))
b = int(input("Enter Number of columns: "))
matrix = []
for i in range(a):
    c = []
    for j in range(b):
        j = int(input("Enter the number of pocket "+str(i)+" "+str(j)+" "))
        c.append(j)
    print()
    matrix.append(c)
    
for i in range(a):
    for j in range(b):
        print(matrix[i][j],end=" ")
    print()

Enter Number of rows: 3
Enter Number of columns: 3
Enter the number of pocket 0 0 1
Enter the number of pocket 0 1 2
Enter the number of pocket 0 2 3

Enter the number of pocket 1 0 4
Enter the number of pocket 1 1 5
Enter the number of pocket 1 2 6

Enter the number of pocket 2 0 7
Enter the number of pocket 2 1 8
Enter the number of pocket 2 2 9

1 2 3
4 5 6
7 8 9

In [75]:
def sortsecond(val):
    return val[1]
List1 = [(1,2),(3,3),(1,1)]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
List1.sort(key = sortsecond)
print(List1)
List1.sort(key = sortsecond, reverse = True)
print(List1)

[(1, 1), (1, 2), (3, 3)]
[(3, 3), (1, 2), (1, 1)]

In [77]:
#By using sort method

def Sort(sub_li):
    sub_li.sort(key = lambda x:x[1])
    return(sub_li)
sub_li = [['rishav',10],['akash',5],['ram',20],['gaurav',15]]
print(Sort(sub_li))

[['akash', 5], ['rishav', 10], ['gaurav', 15], ['ram', 20]]

In [80]:
# Get first element of each sub list

def Extract(lst):
    return [item[0] for item in lst]
lst = [[1,2],[3,4,5],[6,7,8,9]]
print(lst)
print(Extract(lst))

[[1, 2], [3, 4, 5], [6, 7, 8, 9]]
[1, 3, 6]

In [81]:
# Using Zip and unpacking(*) operator

def Extarct(lst):
    return list(list(zip(*lst))[0])
lst = [[1,2],[3,4,5],[6,7,8,9]]
print(Extract(lst))

[1, 3, 6]

In [82]:
# Using itemgetter()

from operator import itemgetter

def Extract(lst):
    return list(map(itemgetter(-1), lst))
lst = [[1,2],[3,4,5],[6,7,8,9]]
print(Extract(lst))

[2, 5, 9]

In [83]:
Spelist = [['Rash', 4, 30], ['Ashu', 5, 32], ['Rikky', 2, 65], ['Sunil', 1, 77], ['cat', 1, 100]]
Spelist.sort(key = lambda x:x[1])   
print(Spelist)

[['Sunil', 1, 77], ['cat', 1, 100], ['Rikky', 2, 65], ['Rash', 4, 30], ['Ashu', 5, 32]]

In [97]:
import random

for i in range(8):
    print(random.random())
    
print("***********************")

0.9456795373364572
0.021823946007838324
0.9290899709920967
0.12856707926829503
0.5939865688902726
0.030105673295408142
0.3577086119167546
0.12989037133195702
***********************

In [98]:
def my_random():
    #random, scale, shift, return..
    return 4*random.random() + 3
for i in range(10):
    print(my_random())
print("@@@@@@@@@@@@@@@@@@@@@@")

6.307388532760937
4.10747691116131
5.744530945997262
6.163702954501381
6.3605339380462365
4.596062850927454
6.564150530912745
6.7054291890748985
6.117812837067069
4.087936391588254
@@@@@@@@@@@@@@@@@@@@@@

In [100]:
numbers = (1, 2, 3, 4)
def twice(n):
    return n*n
x = list(map(twice,numbers))
x

[1, 4, 9, 16]

In [101]:
def addition(num):
    return num + num
 
numbers = [10, 20, 30, 40, 50]
 
map_result = map(addition, numbers)
print(list(map_result))

[20, 40, 60, 80, 100]

In [102]:
import math
numbers = [5,6,7]
print(list(map(math.factorial,numbers)))

[120, 720, 5040]

In [103]:
from functools import reduce

def add(a,b):
    return a+b
List_A = [1,2,3,4,5,6]
print(reduce(add,List_A))

21

In [104]:
from functools import reduce

List_A = [1,2,3,4,5,6]
print(reduce(lambda x,y: x+y, List_A))
print("With an initial value:", str(reduce(lambda x,y: x+y, List_A, 10)))

21
With an initial value: 31

In [105]:
f = open("C:\\Users\Anand Mishra\Desktop\Data.txt", "r")
print(f.read())

Data science is an interdisciplinary field that uses scientific methods,
processes, algorithms and systems to extract knowledge and insights from
structured and unstructured data, and apply knowledge and actionable insights
from data across a broad range of application domains.

In [106]:
f = open("C:\\Users\Anand Mishra\Desktop\Data.txt", "r")
print(f.read(40))

Data science is an interdisciplinary fie

In [107]:
f = open("C:\\Users\Anand Mishra\Desktop\Data.txt", "a")
f.write("and apply knowledge and actionable insights from data across a broad range of application domains.")
f.close()

In [108]:
f = open("C:\\Users\Anand Mishra\Desktop\Data.txt", "r")
print(f.readlines(3))
f.close()

['Data science is an interdisciplinary field that uses scientific methods,\n']